{% extends "base.j2" %}

{% block title_link %}
    <a href="/">Log Corona</a>
{%endblock%}

{% block links %}
    <li><a href="login">Login</a></li>
    <li><a href="register">SignUp</a></li>
{%endblock%}

{% block content%}
<div>
    <pre class="welcome_corona">
        Welcome to the Corona Log website

        Some of us had to go into isolation for fear we were near a verified patient,
        Or we were even sick ourselves.
        Then we had to start remembering who we were with over the last 14 days.

        The purpose of the site is to help you remember who you were with, and where you were.
        You can write every day and whenever it is convenient and update the information if necessary.

        And in case you need to remember who you were with just check the site.

        hopefully you will not have to!

        To use the site please Login / Sign Up
    </pre>
</div>
{%endblock%}